* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.encabezado {
  background-color: rgb(68, 68, 68);
}

.nav {
  display: flex;
  align-items: center;
  height: 9vh;
  background-color: #1f2024;
  padding-left: 3vw;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1.25vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Overpass", sans-serif;
}

.nav li a:hover {
  transition: all 0.1s;
  background-color: rgb(68, 68, 68);
  /* border-bottom: solid orange 4px; */
  padding: 0.8rem;
  border-radius: 0.5em;
}

/*----------------HASTA ACA HEADER-------------------*/

.main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -10;
  /* min-width: 100%;
    min-height: 100%; */
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.crazyTigers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crazyTigers h1 {
  font-family: "Bebas Neue", cursive;
  color: #f18416;
  font-size: 9vw;
  opacity: 70%;
  text-shadow: 0px 3px 5px #000;
}

/*---------------NOSOTROS--------------------*/

.div1 {
  display: flex;
  background-color: rgb(68, 68, 68);
}

.div1 .submenu1 ul {
  display: inline-flex;
  list-style: none;
  align-items: center;
}

/* ---------------(nosotros)------------*/

/* ----------------Footer------------*/

.footer {
  height: 50vh;
  background-color: #1f2024;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-top: #f18416 0.1em solid;
}

.contenedorFooter {
  display: flex;
  justify-content: center;
}

.col1 {
  width: 25vw;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col2 {
  width: 25vw;
  padding-left: 3em;
  padding-right: 3em;
}

.col3 {
  width: 25vw;
  padding-left: 3em;
  padding-right: 3em;
}

.col1 p {
  text-align: initial;
  color: lightgray;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes a {
  padding-left: 2em;
  padding-right: 2em;
}

.redes a img {
  width: 2.5vw;
}

/* equipos */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 7;
}

.encabezado {
  grid-area: 1 / 1 / 2 / 7;
}

.nav {
  grid-area: 2 / 1 / 3 / 7;
}

.imagenes {
  background-color: rgb(68, 68, 68);
  grid-area: 3 / 1 / 7 / 7;
}

.tl {
  grid-area: 3 / 1 / 4 / 7;
  font-family: "Bebas Neue";
  color: #f18416;
  text-decoration: underline 4px;
  text-align: center;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  font-size: 2.5vw;
  -webkit-text-stroke: 1px black;
}

.subimg {
  grid-area: 4 / 1 / 5 / 7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  gap: 10px;
  background-color: rgb(68, 68, 68);
}
.team__card {
  width: 18%;
  min-width: 225px;
}
.team__img {
  width: 100%;
}
.tr {
  grid-area: 5 / 1 / 6 / 7;
  font-family: "Bebas Neue";
  color: #0c2cfc;
  text-decoration: underline 4px;
  text-align: center;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  font-size: 2.5vw;
  -webkit-text-stroke: 1px black;
}

.subimg2 {
  grid-area: 6 / 1 / 7 / 7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  gap: 10px;
  background-color: rgb(68, 68, 68);
}

.footer {
  grid-area: 7 / 1 / 8 / 7;
}
.imagenes .subimg h3 {
  color: #f18416;
  border: solid 3px;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}
.imagenes > .subimg2 h3 {
  color: #fff;
  border: solid 3px;
  text-align: center;
}
/* unner */

.unner {
  display: flex;
  background-color: rgb(68, 68, 68);
}

.unnerimg {
  display: flex;
  justify-content: center;
}

.tituloFundador {
  justify-content: center;
  align-content: center;
}

/*  */
